html{
  height: 100%;
  --scrollbarBG: #CFD8DC;
  --thumbBG: #90A4AE;
}

body::-webkit-scrollbar {
  width: 11px;
}

body {
  height: 100%;
  font-family: sans-serif;
  margin: 0;
  background-color: #ccc;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 2rem;
  font-weight: bolder;
  align-self: center;
}

.logo{
   background-image: url(./img/logo.png);
   height: 80px;
   width: 150px;
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    align-self: center;
}

.bimg{
  background-image: url(./img/bck12.jpg);

  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.container{
  display: flex;
  margin-top: 7em;
  margin-bottom: 5em;
  line-height: 200%;
  width: 40%;
  align-self: center;
  color: #fff;
  background-color: rgba(204, 204, 204,0.7);
  border-radius: 25px;
  padding: 25px;

}

.todo-list div {
	display: flex;
  flex-direction: row;
	justify-content: space-between;
}

.todo-list div > span {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.todo-filter-completed{
  align-self: center;
}

.todo-filter-completed >div{
  display: flex;
  flex-direction: row;
} 

.checkbox-container {
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
}


.todo-item {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 1em;
}

.todo-item .checkmark { 
  width: 25px !important;
  height: 25px !important;
  margin: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance:none;
  outline: 2px solid lightblue;
  box-shadow: none;
 }

.todo-item input[type='checkbox']:checked:after {
  background-color: #2ac663;
  content: '\2713';
  color: white;
  position: absolute;
  font-size: 1rem;
  width: 20px;
  height: 25px; 
  padding-left: 5px;
}

.item-text{
  color: black;
}

.btn {
  background-color: #2ac663;
  border: none; 
  color: white; 
  padding: 12px 16px; 
  font-size: 16px; 
  cursor: pointer; 
  border-radius: 0 10px 10px 0;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

.todo-input form{
  display: flex;
  align-self: center;
  width: 100%;
  justify-content: space-between;
  margin: 10px;
}

.todo-input form > input{
  width: 49%;
  border-radius: 5px 0 0 5px;
  border: none;
  color: black;
  padding-left: 10px;
}

.todo-input form > button{
  background-color: #f2d238;
  width: 50%;
  padding: 8px;
  text-decoration: none;
  border: none;
  border-radius: 0 5px 5px 0;
  color: #fff;
}

.clear-list{
  background-color: #f44336;
  padding: 8px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  color: #fff;
}